<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.trail.name</title>
</head>
<body>
    <h1>@ViewBag.trail.name</h1>
    <h2>Description</h2>
    <p>@ViewBag.trail.description</p>
    <h2>Trail Length</h2>
    <p>@ViewBag.trail.length Miles</p>
    <h2>Elevation Change</h2>
    <p>@ViewBag.trail.elevationChange feet</p>
    Longitude: @ViewBag.longitude degrees N Latitude: @ViewBag.latitude degrees W
</body>
</html>